* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sky {
  height: 100vh;
  width: 100%;
  background-image: url(./assests/sky.webp);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.road {
  height: 300px;
  width: 500%;
  display: block;
  background-image: url(./assests/road.webp);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-repeat: repeat-x;
  animation: road 2s linear infinite;
}

.city {
  height: 385px;
  width: 500%;
  display: block;
  background-image: url(./assests/city.png);
  position: absolute;
  bottom: 270px;
  left: 0;
  right: 0;
  z-index: 1;
  background-repeat: repeat-x;
  animation: city 12s linear infinite;
}

.car-wheel {
  position: absolute;
  bottom: 100px;
  left: 30%;
  z-index: 2;
  width: 40%;
}

.car {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
}

.car-object {
  width: 36vw;
  animation: move 2s ease-in-out infinite;
}

.front,
.back {
  width: 11vw;
  animation: rotate 0.25s linear infinite;
}

.front {
  position: absolute;
  bottom: -4%;
  right: 15%;
}

.back {
  position: absolute;
  bottom: -4%;
  right: 71%;
}

@keyframes road {
  100% {
    transform: translateX(-1500px);
  }
}

@keyframes city {
  100% {
    transform: translate(-2000px);
  }
}

@keyframes move {
  100% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(3px);
  }
  25% {
    transform: translateY(-5px);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
