body {
    margin: 0;
    min-width: 250px;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #e2dede;
    font-size: 18px;
    transition: 0.2s;
}

ul li:hover {
    background: #808080;
}

ul li.checked {
    background: #5A8CFF;
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: "";
    position: absolute;
    border-color: #B9FF66;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #B9FF66;
    color: rgb(0, 0, 0);
}

.header {
    background-color: #202224;
    padding: 30px 40px;
    color: #B9FF66;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    background-color: #ffffff;
    height: 38px;
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.addBtn {
    font-weight: bold;
    height: 38px;
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #000000;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #B9FF66;
}